:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #21262d;
    background-image:  radial-gradient(#ffffff 1.3px, transparent 1.3px), radial-gradient(#ffffff 1.3px, #21262d 1.3px);
    background-size: 52px 52px;
    background-position: 0 0,26px 26px;
}

main {
    font-family: "Lora", serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 22vw;
    min-height: 100vh;
    background-color: #F8EDED;
    color: black;
    box-shadow: rgba(248, 247, 247, 0.5) 0px 12px 48px 0px
}

.container {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
    width: 100%;
    min-width: 350px;
}

.container-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 1rem;
}

.container-account-logo{
    margin-top: 0px;
}

.container-account-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    gap: .70rem;
}

.container-account-label{
    width: auto;
    margin-top: 5px;
}

.container-account-button  {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.container-account-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.container-account-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.container-category {
    display: flex;
    flex-direction: column;
    /**border: 1px solid black;**/
    padding: 0 1rem;
}

.container-category-labbut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-category-button{
    display: flex;
    align-self: end;
    width: auto;
    padding: 6px;
}

.container-category-div {
    /**border: 1px solid black;**/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.addNote{
    position: relative;
}

.addNotesButton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 2rem;
    border-radius: 100%;
}
/**############################################################################################################################**/
.notePost-div{
    position: relative;
    border: 1px solid red;
    width: 1000px;
    height: 300px;
}

.note-section {
    width: 250px;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
}